# Ignore virtual environment
venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore VSCode and IDE configs
.vscode/
*.code-workspace

# Ignore system files
.DS_Store
Thumbs.db

# Ignore Streamlit logs
.streamlit/config.toml
